In [1]:
import pandas as pd # importing dependencies 
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [2]:
load_dotenv(dotenv_path='info.env')

True

In [3]:
db_url = f"postgresql+psycopg2://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"

In [4]:
engine = create_engine(db_url)

In [5]:
query = "SELECT * FROM orders"
orders_df = pd.read_sql(query, engine)
orders_df.head()

,order_id,order_date,customer_id,product_id,quantity,payment_id,region_id,discount,sales_amount,created_at
0,1001,2023-01-04,Bob,1002,17,3,4,0.21,2716.34,2025-04-09 22:38:00.549858
1,1002,2023-07-08,Alice,1042,23,1,4,0.15,5947.31,2025-04-09 22:38:00.549858
2,1003,2023-01-24,Bob,1054,22,3,4,0.11,6624.55,2025-04-09 22:38:00.549858
3,1004,2023-09-04,Eve,1068,14,2,4,0.03,3905.11,2025-04-09 22:38:00.549858
4,1005,2023-01-26,David,1026,5,1,4,0.12,2195.20,2025-04-09 22:38:00.549858

In [6]:
query = """
    SELECT pc.name AS category, SUM(o.sales_amount) AS total_sales
    FROM orders o
    JOIN products p ON o.product_id = p.product_id
    JOIN product_category pc ON p.category_id = pc.id
    GROUP BY pc.name
    ORDER BY total_sales DESC;
"""
category_sales_df = pd.read_sql(query, engine)
category_sales_df.head()

      category  total_sales
0     Clothing   1394525.96
1         Food   1238750.39
2    Furniture   1212983.26
3  Electronics   1173005.62